__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.pyvenv/
myenv/
pip-selfcheck.json

.vscode/

output/

.ipynb_checkpoints/

*.log
*.out
*.txt
*.csv
*.json

findsub.text
open_ports.txt
found_directories.txt
directory_listing_enabled.txt

.DS_Store
Thumbs.db

*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

.mypy_cache/
.pyre/
.pyright/

.pytest_cache/

.idea/
.project/
*.sublime-workspace
*.sublime-project

*.swp
*.swo
*.bak
*.tmp
~$*

.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.installed.cfg
.venv
__pypackages__/
.cache/